html{
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

} 

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  height: 200px;
  display: flex;
  margin: 0 auto;
}

header{
  background: #BFA2DB;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

footer{
  background: #333;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.card {
  display: block;
  margin: 40px auto;
  width: 300px;
  border: 1px solid #f26524;
  padding: 20px;
}

.hideP{
  display: none;
}

.card__title {
  color: #e54c20;
}

.card p{
  color: #000000;
  text-align: justify;
}

.card__button {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  font-size: 15px;
  color: #e54c20;
  border: 1px solid #e54c20;
}

.card__button:hover {
  background: #e54c20;
  cursor: pointer;
  color: #fff;
  border: 0px;
}

